{% extends 'HBBlogBundle:Base:base.html.twig' %}

{% block title %}{{ parent() }} - Add{%endblock%}

{% block body %}
    <h1>Add</h1>

    {% if form_article is defined %}
        {{ form(form_article) }}
    {%else%}
       erreur inconnue!!!
    {%endif%}
    <hr/><a href="{{path('hb_blog_article_index')}}">HOME</a><br/>

{% endblock %}

