{% extends 'HBBlogBundle:Base:base.html.twig' %}

{% block body %}
    <h1>Del</h1>
    {% if ok==false %}
        DEL NOK: l'article {{id}} n'existe pas
    {% else %}
        DEL OK: l'article {{id}} a été supprimé
    {% endif %}

    <hr/><a href="/article/">HOME</a><br/>

{% endblock %}

