{% extends 'HBBlogBundle:Base:base.html.twig' %}

{% block body %}
    <h1>Index</h1>
    <ul>
    {% for article in articles %}
        <li>#{{ article.id }} : </b>{{article.titre}}</b></li>
    {% endfor %}
    </ul>
    <a href="add">ajouter</a><br/>
    TODO: ajouter<br/>
    TODO: paginer (prev/next)<br/>
{% endblock %}

