{% extends 'HBBlogBundle:Base:base.html.twig' %}

{% block body %}
    <h1>Read</h1>
route /article/id={{ article.id }}

<b>titre</b> : {{ article.titre}}<br/>
    <b>contenu</b> : {{ article.contenu}}<br/>
{% endblock %}

