{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block title %}{{ parent() }} - Add{%endblock%}

{% block body %}
    <h1>Add User</h1>

    {% if form_user is defined %}
        {{ form(form_user) }}
    {%else%}
       erreur inconnue!!!
    {%endif%}
    
    {% include 'HBBlogBundle:Base:user_footer.html.twig' %}
{% endblock %}

