{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block body %}
    <h1>Del User</h1>
    {% if ok==false %}
        DEL NOK: le user {{id}} n'existe pas
    {% else %}
        DEL OK: le user {{id}} a été supprimé
    {% endif %}

    {% include 'HBBlogBundle:Base:user_footer.html.twig' %}
{% endblock %}

