{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block body %}
    <h1>Mod User</h1>

    {% if form_user is defined %}
        {{ form(form_user) }}
    {%else%}
        Le user n'existe pas!!!
    {%endif%}

    {% include 'HBBlogBundle:Base:user_footer.html.twig' %}
{% endblock %}

