{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block body %}
    <h1>Mod User</h1>

    {% if form_user is defined %}
        {{ form(form_user) }}
    {%else%}
        Le user n'existe pas!!!
    {%endif%}

    <hr>
    <a href="/user/">Liste utilisateurs</a>
    &nbsp;&nbsp;
    <a href="{{path('hb_blog_article_index')}}">HOME</a>
    <br/>

{% endblock %}

